.keywords {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.backslash_keywords {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.comment {
    -fx-fill: green;
}

.parameter  {
    -fx-fill: blue;
}